.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 100vw;
    margin-right: 150px;
    max-width: 1200px;
  }
  
  .profile-container h1 {
    margin-top: 2em;
    text-align: center;
    padding: 20px;
    font-weight: 600;
  }
  
  .group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 3em;
    padding-right: 24vw;
  }
  
  .group button {
    width: fit-content;
    padding: 0.5em 3em;
    align-items: center;
  }
  
  .profile-info {
    margin: 0;
  }

  
  .profile-input input {
    width: 200px; 
    border-radius: 5px; 
  }

  .profile-details {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    margin-top: 20px;
  }
  
  .profile-container {
    margin-bottom: 2cm;
  }
  
  .footer {
    margin-top: 2cm;
  }
  /* Barra de costado */
  .MuiDrawer-paperAnchorDockedLeft {
    min-width: 19vw;
    height: 40vh;
    top: 15vh;
    border-right: none;
    left: 0vw;
    
  }

  .Guardar {
    background-color: #0070F4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancelar {
    background-color: #0070F4;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Estilos adicionales o modificaciones según tus necesidades */
  .Guardar:hover,
  .Guardar:focus {
    background-color: #0070F4;
  }
  
  .cancelar:hover,
  .cancelar:focus {
    background-color: #0070F4;
  }

  .Guardar-Cancelar-container {
    display: flex;
    margin-top: 30px;
    gap: 17px;
    margin-left: -85px;
  }

  .Modificar {
    background-color: #0070F4;
    color: white;
    margin-top: 30px;
    margin-left: -93px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .Modificar:hover,
  .Modificar:focus {
    background-color: #0070F4;
  }

  /* Mis Tarjetas de pago */

  /* Estilos para los botones */

  .MetodosDePagos-Container {
    /* Estilos para el contenedor principal */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-left: 100px;
    max-width: 900px;
    gap: 1.5em;
  }

  .pagos-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2em;
  }

  .pagos-container h3{
    font-weight: bold;
  }


  .pagos-map{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .titulo {
    display: flex;
    width: 100vw;
    font-weight: bold;
    font-size: 1.5em;

  }
  
  .alias-tarjeta {
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .nombre-titular {
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .numero-tarjeta {
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .fecha-vencimiento {
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .cvv {
    margin-top: 20px;
  }
  
  .agregar-Tarjeta {
    font-size: 16px;
    background-color: #0070F4;
    color: white;
    width: 230px;
    padding: 10px 20px;
    margin-left: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .Metodo-de-Pago {
    font-size: 17px;
    margin-top: 30px;
    margin-left: 1px;
    margin-right: 70px;
  }
  
  .Eliminar-Pago {
    /* Estilos para el botón Eliminar */
    font-size: 17px;
    background-color: #0070F4;
    color: white;
    padding: 7px 20px;
    margin-top: 12px;
    margin-right: 10px;
    margin-bottom: 70px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modificar-Pago {
    /* Estilos para el botón Modificar */
    font-size: 17px;
    background-color: #0070F4;
    color: white;
    padding: 7px 20px;
    margin-top: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

    /* Mis Domicilios */

  /* Estilos para los botones */

  .direccion-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1000vw;
    margin-left: 100px;
    max-width: 900px;
    
  }

  .campos{
    width: 16em;
  }

  .dire-titulo{
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    width: 100vw;
    margin-bottom: 1.2em;
  }

  .alias-direccion {
    margin-bottom: 10px;
    margin-right: 20px;

  }
  
  .provincia {
    margin-bottom: 10px;
  }
  
  .localidad {
    margin-bottom: 10px;
    margin-right: 20px;
  }
  
  .calle {
    margin-bottom: 10px;
    margin-right: 20px;
  }
  
  .numero {
    margin-bottom: 10px;
    
  }
  
  .codigo-postal {
    margin-bottom: 10px;
    margin-right: 20px;
  }
  
  .numero-piso {
    margin-bottom: 10px;
  }
  
  .numero-celular {
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  .agregar-direccion {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    background-color: #0070F4;
    height: 39px;
    color: white;
    width: 185px;
    margin-top: 25px;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .direc-list{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
  }
  
  .dir-titulo{
    margin-top: 30px;
    font-weight: bold;
  }

  .direc-list-container{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
  }

  .eliminar-direccion {
    font-size: 17px;
    background-color: #0070F4;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 1px;
    margin-bottom: 25px;
  }
  
  .modificar-direccion {
    font-size: 17px;
    background-color: #0070F4;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 25px;
  }

  








  