@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}


.user-menu-list {
    top: 3em;
    text-align: center;
    gap: .5em;
    display: flex;
    flex-direction: column;
}

.user-menu-list a:hover {
    background-color: #f3f3f3;
}


.pack-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 1em;
}

.pack-content h3 {
    font-size: 1em;
    font-weight: bold;
}
