.subscriptionlist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 100vw;
    max-width: 1200px;
}

.subscriptionlist-container h1 {
    margin-top: 3em;
    text-align: center;
    /* margin: 0 auto; */
    padding: 5px;
    font-weight: 600;
}

.subscription-list {
    padding-bottom: 5em;

}

.group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}


.subscription-info h3 {
    font-size: 1em;
    font-weight: bold;
}

.categories-search-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 5px; /* Adjust the top separation as desired */
  margin-bottom: 20px; /* Adjust the bottom separation as desired */
  }
  

.categorias {
  margin-right: 10px; /* Adjust the spacing as desired */
}

.search-bar {
  display: flex;
  align-items: center;
}

.order-bar {
  display: flex;
  margin-left: auto;
  align-items: center;
}